<div class="top-wrapper">
  <div class="container">
    <h1>「モノ」を捨てよう。</h1>
    <p>Suteruは「モノを捨てる」ことにフォーカスしたサービスです。</p>
    <div class="btn-wrapper">
      <%= link_to "新規登録", new_user_registration_path, :class => "btn btn-danger" %>
    </div>
  </div>
</div>
<section class="st-top__service">
  <h2>Sutetuとは。</h2>
  <ul>
    <li>
      <section>
        <div>
          <h3>「捨てるモノ」を投稿します。</h3>
          <p>text</p>
        </div>
        <i>
          <img src="assets/ic_assign.svg" alt="">
        </i>
      </section>
    </li>
    <li>
      <section>
        <div>
          <h3>「いらないモノ」に気づけます。</h3>
          <p>text</p>
        </div>
        <i>
          <img src="assets/ic_card.svg" alt="">
        </i>
      </section>
    </li>
    <li>
      <section>
        <div>
          <h3>身軽でミニマムな生活へ。</h3>
          <p>text</p>
        </div>
        <i>
          <img src="assets/ic_reader.svg" alt="">
        </i>
      </section>
    </li>
  </ul>
</section>
