<div class="top-wrapper">
  <div class="container">
    <h1>「モノ」を捨てよう。</h1>
    <p>Suteruは「モノを捨てる」ことにフォーカスしたサービスです。</p>
    <div class="btn-wrapper">
      <%= link_to "新規登録", new_user_registration_path, :class => "btn btn-danger" %>
    </div>
  </div>

  <div class="top-contents">
  </div>

</div>
