<div class="top-wrapper">
  <div class="container">
    <h1>「モノ」を捨てよう。</h1>
    <p>Suteruは「モノを捨てる」ことにフォーカスしたシェアサービスです。</p>
    <div class="btn-wrapper">
      <%= link_to "新規登録", new_user_registration_path %>
    </div>
  </div>
</div>
<section class="st-top__service">
  <h2>「Sutetu」の使い方</h2>
  <ul>
    <li>
      <section>
        <div>
          <h3>「捨てるモノ」を<br>投稿する。</h3>
          <p>自分が捨てようと思っているモノ、捨てて良かったモノを投稿しましょう。
          <br>捨てようと思った理由も合わせて投稿します。</p>
        </div>
        <i>
          <img src="assets/ic_mess.svg" alt="">
        </i>
      </section>
    </li>
    <li>
      <section>
        <div>
          <h3>「捨てるモノ」を<br>見てみる。</h3>
          <p>他ユーザーが何を捨てようと思っているモノを見てみましょう。
          <br>投稿は、お気に入り登録もすることができます。</p>
        </div>
        <i>
          <img src="assets/ic_trash.svg" alt="">
        </i>
      </section>
    </li>
    <li>
      <section>
        <div>
          <h3>新たにモノを<br>捨てる。</h3>
          <p>他ユーザーを参考に、自分も新たにモノを捨ててみましょう。
          <br>自分の周りの無駄なものを捨て、身軽なミニマムライフを送りましょう。
          </p>
        </div>
        <i>
          <img src="assets/ic_happy.svg" alt="">
        </i>
      </section>
    </li>
  </ul>
</section>
