<p>topページ</p>

<div class= "top-wrapper">

  <div class= "container">

    <h1>画像</h1>

    <div class="btn-wrapper">
      <a href="#" class="btn signup">新規登録</a>
      <p>or sign up with</p>
      <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
      <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
    </div>

    <div class="service-wrapper">
      <h1>文章</h1>
    </div>

    <div class="news-wrapper">
      <h1>NEWS</h1>
    </div>

  </div>
</div>
