<% @posts.each do |post| %>
  <div class="post_container">
    <div class="post_contents card-img-top text-white ">
      <%= post.user.name %>の投稿
      <%= link_to (image_tag post.image),post_path(post.id)%>
      <div class="card-body">
        <h4 class="card-title"><%= post.title %></h4>
      </div>
    </div>
  </div>
<% end %>
