// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* お気に入り画面のレイアウト */

.favoritesーnil {
   width: 100%;
   height: 300px;
   text-align: center;
   p {
    font-size: 30px;
    opacity: 0.6;
   }
}