/* 全ページ共通部レイアウト */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div{
  display: block;
}

li{
  list-style: none;
}

html{
  font-family: "Hiragino Kaku Gothic ProN";
  font-size:62.5%;
}

body{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button{
  border: none;
  cursor: pointer;
}
.st-header{
  top: 0px;
  width: 100%;
  background-color: #221f20;
  box-shadow: 0 0 2px #666, 0 0 8px #222;
  z-index: 100;
  position: fixed;
  ul{
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  li{
    padding: 10px 15px;
    display: block;
    img {
      width: 30px;
      height: 30px;
    }
  }
  img{
    height: 54px;
  }
  .header-wapper{
    font-size: 1.5rem;
  }
  a {
    &:hover {
      color: #fff;
    }
  }
}

main{
  display: block;
  .notice {
    height: 30px;
    margin-top: 80px;
    text-align: center;
    font-size: 14px;
    p{
      margin-bottom: 0;
      color: black;
      padding: 10px 0;
      background-color: #f3f7be;
    }
  }
}

.st-footer{
   margin-top: auto;
   background-color: gray;
 }

.header-nav{
  margin: auto;
  img{
    width: 120px;
    height: 60px;
  }
}

.header-wapper{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  a{
    color: white;
  }
}
.footer-wapper{
  text-align: center;
  color: white;
  p{
    opacity: 0.7;
  }
}


