/* 全ページ共通部レイアウト */

html {
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size:62.5%;
  margin: 0;
  padding: 0;
  position: relative;
}

div {
  display: block;
}

body {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header  {
   top: 0px;
   height: 50px;
   width: 100%;
   background-color: #221f20;
   box-shadow: 0 0 2px #666, 0 0 8px #222;
   opacity: 0.9;
   position: fixed;
 }

footer {
   margin-top: auto;
   background-color: gray;
 }

 li {
   list-style: none;
   float: left;
 }

header .header-wapper {
  font-size: 1.5rem;
}

.header-nav {
  margin: auto;
}

.main_contents {
  margin-top: 50px;
}

.headr-nav img {
  width: 120px;
  height: 60px;
}

header  li {
  padding: 10px 15px;
  float: right;
  display: block;
}

header .header-wapper a {
  color:white;
}

.footer-wapper{
  text-align: center;
  color: white;
}



.notice {
  text-align: center;
  margin-top: 30px;
}
