// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 投稿一覧画面のレイアウト */

.post_container {
  width: 650px;
  margin:  auto;
  text-align: center;
}

.post_show_container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.post_contents {
  margin-bottom: 80px ;
  overflow: hidden;
  background-color: #221f20;
  ul{
    display: flex;
    align-items: center;
    padding: 8px 30px;
    margin-bottom: 0;
    li {
      padding: 0 7px;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%; 
    }
    a {
      color: white;
    }
  }
  img {
    width: 650px;
    height: 500px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  a {
    display: flex;
    align-items: center;
    overflow: hidden;
   &:hover{
     img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
     }
   }
  }
}


