/* 投稿詳細画面のレイアウト  */

.contents-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 140px 50px 60px;
  background-color: #221f20;
  color: #fff;
}

.contents-header {
  order: -1;
  ul{
    display: flex;
    align-items: center;
    padding: 8px 30px;
    margin-bottom: 0;
    li {
      padding: 0 7px;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%; 
    }
    .icon-name a{
      font-size: 15px;
      color:#fff;
    }
  }
  figure {
    img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    text-align: center; 
    padding: 0 30px;
    background-color:#fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16) inset; 
    }
  }
}

.contentes-post { 
  margin: 0 30px;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  li {
    padding: 10px 15px;
  }
}

.contens-main {
  .post-text {
    margin-top: 30px;
    min-height: 200px
  }
}

.social-share-button {
  .ssb-icon {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
}
