// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*　トップ画面のレイアウト　*/

.top-wrapper {
  padding: 200px 0 200px 0 ;
  background-image: url(trash.png);
  background-size: cover;
  color: black;
  text-align: center;
  h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
  }
  p {
    font-size: 16px;
    margin-top: 40px;
  }
}

.btn-wrapper{
  a {
    display: flex;
    width: 250px;
    height: 50px;
    margin: 30px auto 0 ;
    background-color: #221f20;
    box-shadow: 0  2px 6px rgba(0,0,0,0.16);
    border: none;
    color: #fff;
    opacity: 0.8;
    border-radius: 6px;
    font-size: 16px;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }
  .btn-google {
    background-color:#dc4e44
  }
  .btn-facebook {
    background-color:#3b5998
  }
  .btn-twitter {
    background-color:#55acee
  }

}

.st-top__service{
  width: 980px;
  margin: 60px auto;
  h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
  }
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    width: 29%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.16);
  }
  i{
    order: -1;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    background-color: #f3f7be;
    img{
      height: 60px;
    }
  }
  
  section {
    display: flex;
    flex-direction: column;
    background-color: #D3E4D3;
  }
  h3{
    background-color: #f3f7be;
    text-align: center;
    padding: 4px 20px;
    margin-bottom: 20px;
  }
  p{
    padding: 0 20px;
    font-size: 12px;
  }
}