<p>メールアドレス <%= @resource.email %>!</p>

<p>パスワードの再設定を行います。以下のURLにアクセスして下さい。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりが無い方や、パスワードを変更しない場合はこちらのメールを無視して下さい。</p>
<p>上記URLにアクセスしない限り、パスワードが変更されることはありません。</p>

<p>Suteru運営事務局</p>
