<!DOCTYPE html>
<html>
  <head>
    <title>Suteru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h3>HEADER</h3>
  </header>


  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="container">
      <h3>FOOTER</h3>
    </div>
  </footer>

</html>
